.header_logo{
    margin:2rem 0;
    font-family: 'Righteous', cursive;"
}
.footer_logo{
    margin:1.5rem 0;
    font-family: 'Righteous', cursive;
}
.header_button{
    margin-bottom: 2rem;
}
.footer_button{
    margin-top:1.5rem;
}
.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B{
    font-family: 'NanumSquareB', cursive;
}

.round-button{
    color: midnightblue;
    text-decoration: None;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding:0.3rem;
}

.round-button:hover{
    color: red;
}

.article_image {
    width: 30%;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem darkolivegreen;
}

.article_content{
    text-align: left;
    font-size: 1.1rem;
    margin: 1rem;
}

.comment_box{
    text-align: left;
    border: solid rgba(149, 182, 150, 0.84);
    border-radius:1rem;
    padding: 1rem;
    margin: 1rem;
}

.comment_image{
    height: 2rem;
    width: 2rem;
    border-radius: 20rem;
    object-fit: cover;
    margin: 0.5rem;
    border: solid slategrey
}

@media screen and (max-width:500px){
    html {
        font-size:11px;
    }
}