{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div>
            <h1 class="NNS_B">{{ target_article.title }}</h1>
            <h3>{{ target_article.writter.profile.nickname }}</h3>
            <div class="my-2">
                <a href="{% url 'likeapp:like_article'  article_pk=target_article.pk %}"
                    class="material-icons"
                   style="vertical-align: middle; font-size: 1.5rem; color:hotpink">
                    favorite
                </a>
                <span style="vertical-align: middle; font-size: 1rem">
                    {{ target_article.like }}
                </span>
            </div>
            <p>{{ target_article.created_at }}</p>
        </div>

        <hr>

        <div>
            <img src="{{ target_article.image.url }}"
            class="article_image">
            <div class="article_content">
            {{ target_article.content}}
            </div>

            {% if target_article.writter == user %}
            <div>
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                class="btn btn-success rounded-pill px5">
                    Update
                </a>
                <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
                class="btn btn-danger rounded-pill px5">
                    Delete
                </a>
            </div>
            {% endif %}

            <hr>
            <div class="text-center my-4">
                {% for comment in target_article.comment.all %}
                    <div class="comment_box">
                        <div>
                            <span>
                            <img src="{{ comment.writter.profile.image.url }}" alt="X"
                                 class="comment_image">
                            </span>
                            <span class="NNS_B"
                                  style="margin-right: 1.1rem;
                                         font-size: 1.4rem;">
                                {{ comment.writter.profile.nickname }}
                            </span>
                            <span>{{ comment.created_at }}</span>
                        </div>
                        <p>{{ comment.content }}</p>
                        {% if  comment.writter == user%}
                        <div style="text-align: right">
                            <a href="{% url 'commentapp:delete' pk=comment.pk %}"
                               class="btn btn-danger rounded-pill px-5">
                                Delete
                            </a>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}


                {% include 'commentapp/create.html' %}
            </div>
        </div>



    </div>
{% endblock %}